* {
   
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    
    font-family: "Roboto", sans-serif;
}

.profile-card {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    background: #fff;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
}

.profile-card .avatar {
    padding: 20px 0px 10px;
}
.profile-card .avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
 .profile-card .profile-type{
    position: absolute;
    top: 15px;
    left: 15px;
    background: #888;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
 }
 .profile-card .details{
    padding: 10px 30px;
 }

 .profile-card .details h1{
    font-size: 25px;
    color: #111;
    margin-bottom: 5px;
 }

 .profile-card .details h2{
    font-size: 15px;
    margin-bottom: 12px;
    color: #1d1b1b;
 }

 .profile-card .details p{
    font-size: 15px;
    color: #555;
 }

 .profile-card .number {
    padding: 15px 40px;
    display: flex;
    justify-content: space-around;
 }

 .profile-card .number p{
    font-size: 14px;
    margin-bottom: 2px;
    color: #555;
 }
.profile-card .number h2{
    font-size: 18px;
    color: #444;
}

.profile-card .btns{
    padding: 10px 30px 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.profile-card .btns button{
    flex: 1;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}

.profile-card .btns button.outline{
    border: 1px solid #111;
    color: #111;
    background: transparent;
}

.profile-card .btns button.fill{
    background: #111;
    color: #fff;
    border: none;
}



